 
<html>

    <head>
        <title>Load Balancer</title>
        <link  rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.4/semantic.min.css">
        <!-- <link  rel="stylesheet" type="text/css" href="/stylesheets/app.css"> -->
    </head>

    <body>
        <h1>Load Balancer</h1>
        <h2>Hello from server <%= serverNum %>!</h2>
    </body>

</html>